keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes toggleBoxHide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes toggleBoxShow {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.toggle-box.unshow-box {
    animation: toggleBoxHide 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.toggle-box.show-box {
    animation: toggleBoxShow 0.5s ease-in-out;
    animation-fill-mode: forwards;
}
